In [12]:
import pandas as pd
import sys
sys.path.append("../utils")

from utils import load_csv, save_data

In [13]:
df = load_csv("../../data/raw/fpt.csv")
df.head()

2025-06-14 10:19:11,300 - INFO - ‚úÖ Load CSV th√†nh c√¥ng: ../../data/raw/fpt.csv | shape = (4565, 6)

         date     open     high      low    close     volume
0         NaN      NaN      NaN      NaN      NaN        NaN
1  13/06/2025  116,000  116,500  114,900  115,400  6,161,700
2  12/06/2025  117,600  117,700  116,500  117,000  4,153,100
3  11/06/2025  115,115  117,197  115,115  116,900  6,554,301
4  10/06/2025  116,007  116,404  114,718  114,718  3,854,500

In [14]:
df.dtypes

date      object
open      object
high      object
low       object
close     object
volume    object
dtype: object

In [15]:
def preprocess(df: pd.DataFrame) -> pd.DataFrame:
    original_rows = len(df)

    # Xo√° c√°c d√≤ng to√†n b·ªô l√† NaN ho·∫∑c chu·ªói r·ªóng
    df = df.dropna(how='all')
    df = df[~(df.apply(lambda row: row.astype(str).str.strip().eq('').all(), axis=1))]
    
    # Chu·∫©n h√≥a t√™n c·ªôt
    df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]

    # Xo√° tr√πng l·∫∑p
    df = df.drop_duplicates()

    # Chu·∫©n h√≥a ki·ªÉu d·ªØ li·ªáu
    df['date'] = pd.to_datetime(df['date'], format="%d/%m/%Y")

    for col in ['open', 'high', 'low', 'close']:
        df[col] = df[col].str.replace(",", "").astype(float)
        df[col] = (df[col] / 1000).round(2)
    
    df['volume'] = df['volume'].str.replace(",", "").astype(int)


    # ƒêi·ªÅn missing
    for col in df.columns:
        if df[col].dtype in [int, float, float]:
            df[col] = df[col].fillna(df[col].mean())
        else:
            df[col] = df[col].fillna(df[col].mode().iloc[0])

    return df

In [16]:
# T·∫°o danh s√°ch m√£ c·ªï phi·∫øu c·∫ßn x·ª≠ l√Ω
symbols = ["fpt", "hpg", "vnm"]
dfs = {}

# L·∫∑p qua t·ª´ng m√£, load v√† ti·ªÅn x·ª≠ l√Ω
for symbol in symbols:
    raw_path = f"../../data/raw/{symbol}.csv"
    df = load_csv(raw_path)
    df_clean = preprocess(df)
    dfs[symbol] = df_clean
    print(f"‚úÖ {symbol.upper()} - Rows: {df_clean.shape[0]}, Columns: {df_clean.shape[1]}")

2025-06-14 10:19:11,380 - INFO - ‚úÖ Load CSV th√†nh c√¥ng: ../../data/raw/fpt.csv | shape = (4565, 6)

2025-06-14 10:19:12,553 - INFO - ‚úÖ Load CSV th√†nh c√¥ng: ../../data/raw/hpg.csv | shape = (4362, 6)

‚úÖ FPT - Rows: 4564, Columns: 6

2025-06-14 10:19:13,627 - INFO - ‚úÖ Load CSV th√†nh c√¥ng: ../../data/raw/vnm.csv | shape = (4797, 6)

‚úÖ HPG - Rows: 4361, Columns: 6
‚úÖ VNM - Rows: 4796, Columns: 6

In [17]:
# Hi·ªÉn th·ªã 5 d√≤ng ƒë·∫ßu ti√™n c·ªßa m·ªói m√£ c·ªï phi·∫øu
for symbol in symbols:
    print(f"\n{symbol.upper()} - D·ªØ li·ªáu sau x·ª≠ l√Ω:")
    display(dfs[symbol].head())

FPT - D·ªØ li·ªáu sau x·ª≠ l√Ω:

        date    open    high     low   close   volume
1 2025-06-13  116.00  116.50  114.90  115.40  6161700
2 2025-06-12  117.60  117.70  116.50  117.00  4153100
3 2025-06-11  115.12  117.20  115.12  116.90  6554301
4 2025-06-10  116.01  116.40  114.72  114.72  3854500
5 2025-06-09  114.52  115.91  114.02  115.21  4474400

HPG - D·ªØ li·ªáu sau x·ª≠ l√Ω:

        date   open   high    low  close    volume
1 2025-06-13  26.60  26.75  26.30   26.4  38769800
2 2025-06-12  26.15  27.10  26.15   26.8  52217900
3 2025-06-11  26.30  26.35  26.00   26.1  16548100
4 2025-06-10  26.50  26.85  26.20   26.2  29410900
5 2025-06-09  26.10  26.40  25.95   26.3  24987900

VNM - D·ªØ li·ªáu sau x·ª≠ l√Ω:

        date  open  high   low  close   volume
1 2025-06-13  55.5  55.7  55.2   55.5  3545400
2 2025-06-12  55.6  56.2  55.5   55.9  3282700
3 2025-06-11  55.3  55.6  55.1   55.2  1720700
4 2025-06-10  55.5  56.1  55.1   55.3  2999200
5 2025-06-09  55.4  56.3  55.3   55.3  3035700

In [18]:
# Save
for symbol in symbols:
    path = f"../../data/clean/{symbol}.csv"
    save_data(dfs[symbol], f"../../data/clean/{symbol}.csv")

2025-06-14 10:19:14,848 - INFO - üíæ ƒê√£ l∆∞u d·ªØ li·ªáu th√†nh c√¥ng: ../../data/clean/fpt.csv
2025-06-14 10:19:14,868 - INFO - üíæ ƒê√£ l∆∞u d·ªØ li·ªáu th√†nh c√¥ng: ../../data/clean/hpg.csv
2025-06-14 10:19:14,889 - INFO - üíæ ƒê√£ l∆∞u d·ªØ li·ªáu th√†nh c√¥ng: ../../data/clean/vnm.csv